<!DOCTYPE html>
<html>
  <head>
    <title>doowb&#x27;s blog</title>
    <link rel="stylesheet" href="public/css/styles.css">
    <link rel="stylesheet" href="public/css/bootstrap.css">
  </head>
  <body>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                
            <li class="active"><a href="index.html">Home</a></li>
            
            <li><a href="info.html">About</a></li>
            
            <li><a href="books.html">Reading list</a></li>
            
              </ul>
            </div>
          </div>
        </div>

    <div class="container">
      <div class="blog-header">
  <h1 class="blog-title">doowb&#x27;s blog</h1>
  <p class="lead blog-description">Notes, posts, todos, and other things that I think of.</p>
</div>

<div class="row">
  <div class="span8 blog-main">
    <div class="blog-post">
      <h2 class="blog-post-title"><a href="2019/01/11/generating-config-files-with-enquirer.html">Generating Config Files with Enquirer</a></h2>
      <p class="blog-post-meta">January 11th, 2019 by <a href="https://github.com/doowb">doowb</a></p>

      <div>
  <img src="https://images.unsplash.com/photo-1535572290543-960a8046f5af?ixlib&#x3D;rb-1.2.1&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;1080&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjQ4MjI0fQ">
  <span class="small em muted">
    Photo by <a href="https://unsplash.com/@shs521?utm_source=blog&utm_medium=referral">Susan Holt Simpson</a> on <a href="https://unsplash.com/?utm_source=blog&utm_medium=referral">Unsplash</a>
  </span>
</div>

      <h2>Configuration files</h2>
<p>As a developer, I work with configuration files for a lot of different applications, libraries, services, and tools. Sometimes these configuration files are simple JSON or YAML files that are created once when installing a tool or created when instantiating a project (like a <a href="https://firebase.google.com/docs/cli/#the_firebasejson_file">firebase.json</a> file) and never touched again. Sometimes the configuration files are code files that determine how your project is built, like <a href="https://github.com/generate/generate">generate</a>, <a href="https://github.com/assemble/assemble">assemble</a>, or <a href="https://gulpjs.com">gulp</a> files.</p>
<p>In my case, I've been working with <a href="https://kubernetes.io/">Kubernetes</a> and wanted to create a <a href="https://www.postgresql.org/">PostgreSQL</a> instance in my cluster. Using Kubernetes <a href="https://kubernetes.io/docs/concepts/overview/object-management-kubectl/declarative-config/">Configuration Files</a> are a great way to create and delete resources quickly without a lot of manual commands. After creating some files once and creating a single PostgreSQL deployment, I realized it would be really easy to turn the files into templates to allow creating as many different instances as I wanted.</p>
<p>Below, I'll take you through the process of creating the template files and using <a href="https://github.com/enquirer/enquirer">Enquirer</a> with <a href="https://github.com/generate/generate">Generate</a> to create the Kubernetes configuration files and deploy them.</p>
<h2>Kubernetes Configuration Files</h2>
<p>I won't go into details about setting up Kubernetes in this post since that's not the main focus. I already have a Kubernetes cluster setup on <a href="https://m.do.co/c/47d2bfd5274c">DigitalOcean</a>, but with a minor change, these files can be used on a Kubernetes cluster on any of the cloud providers or on premises at your company.</p>
<p>There are four configuration files that I used for creating a PostgreSQL instance as described below:</p>
<p><strong>config-map.yaml</strong></p>
<pre><code class="language-yaml">apiVersion: v1
kind: ConfigMap
metadata:
  name: mypostgresql-config
  labels:
    app: mypostgresql
data:
  POSTGRES_DB: mypostgresqldb
  POSTGRES_USER: admin
  POSTGRES_PASSWORD: admin123
</code></pre>
<p>The <code>ConfigMap</code> above is a way to store a configuration in Kubernetes that will be used in other configuration files. This one specifically is storing the PostgreSQL database, username, and password for the admin. There are better ways to store secretes in Kubernetes, but that's for another post.</p>
<p><strong>storage.yaml</strong></p>
<pre><code class="language-yaml">apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mypostgresql-storage
  labels:
    app: mypostgresql
spec:
  storageClassName: do-block-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
</code></pre>
<p>The storage file here is to tell Kubernetes to create a persistent storage volume that PostgreSQL will use to store data files. This is the only file that has a DigitalOcean specific setting, the <code>storageClassName: do-block-storage</code>. This is telling Kubernetes to talk to a DigitalOcean plugin that will create a DigitalOcean Volume (similar to AWS block storage).</p>
<p><strong>deployment.yaml</strong></p>
<pre><code class="language-yaml">apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: mypostgresql
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: mypostgresql
    spec:
      containers:
        - name: postgres
          image: postgres:10.4
          imagePullPolicy: &quot;IfNotPresent&quot;
          ports:
            - containerPort: 5432
          envFrom:
            - configMapRef:
                name: mypostgresql-config
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: mypostgresqldb
              subPath: mypostgresqldb
      volumes:
        - name: mypostgresqldb
          persistentVolumeClaim:
            claimName: mypostgresql-storage
</code></pre>
<p>The deployment file is going to specify a Kubernetes deployment, which is where we specify which docker image to use (<code>postgres:10.4</code>) and any relevant settings and configuration for the docker containers to use. In <code>envFrom</code>, we're telling the image to get environment variables from the <code>mypostgresql-config</code> ConfigMap that we created above. We're also telling the containers to use the persistent volume that we created above.</p>
<p>With this deployment file, Kubernetes will try to ensure that an instance of the <code>postgres:10.4</code> image is always running as a Kubernetes pod. Since pods have a dynamically set name associated with them, we need a way to access them when they're created and restarted if one crashes. To do this we use a service.</p>
<p><strong>service.yaml</strong></p>
<pre><code class="language-yaml">apiVersion: v1
kind: Service
metadata:
  name: mypostgresql
  labels:
    app: mypostgresql
spec:
  type: NodePort
  ports:
   - port: 5432
  selector:
   app: mypostgresql
</code></pre>
<p>This service file is telling Kubernetes to create a way for us to access any pods labelled with <code>mypostgresql</code> and which port to expose.</p>
<p>Now that the configuration files are created, to deploy to Kubernetes, I ran the following commands (these are assuming that an environment variable <code>$KUBECONFIG</code> is already set pointing to the kubectl config file with specifics on where my DigitalOcean cluster is deployed):</p>
<pre><code class="language-sh">kubectl apply -f config-map.yaml
kubectl apply -f storage.yaml
kubectl apply -f deployment.yaml
kubectl apply -f service.yaml
</code></pre>
<p>This is all great but, then I wanted to create another PostgreSQL instance and would have to update the properties in the <code>.yaml</code> files. I immediately thought of turning the <code>.yaml</code> files into templates and wanted to use <a href="https://github.com/enquirer/enquirer">enquirer</a> to gather the values I needed to populate the templates. I was pleasantly surprised when I started implementing the script at how easy it was to get working.</p>
<h2>Templating with enquirer</h2>
<p>The first thing I had to do was convert my <code>.yaml</code> files into templates. Since I'm familiar with <a href="https://handlebarsjs.com/">Handlebars</a>, I quickly changed some values to template placeholders that I thought would be necessary to achieve what I wanted:</p>
<p><strong>config-map.hbs</strong></p>
<pre><code class="language-hbs">apiVersion: v1
kind: ConfigMap
metadata:
  name: {{name}}-config
  labels:
    app: {{app}}
data:
  POSTGRES_DB: {{db}}
  POSTGRES_USER: {{user}}
  POSTGRES_PASSWORD: {{password}}
</code></pre>
<p>For the ConfigMap, I thought I would just name the config my generic name plus <code>-config</code>, and I needed an <code>app</code> name, and a <code>db</code>, <code>user</code>, and <code>password</code> for the database credentials. Simple enough.</p>
<p><strong>storage.hbs</strong></p>
<pre><code class="language-hbs">apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{storage}}
  labels:
    app: {{app}}
spec:
  storageClassName: do-block-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{size}}Gi
</code></pre>
<p>For the storage file, I created a new variable called <code>storage</code> which is <code>${name}-storage</code> if built using a JavaScript template literal. I'm also reusing <code>app</code> from the previous file and a new <code>size</code> variable but hardcoding the size to be in gigs (<code>Gi</code>).</p>
<p><strong>deployment.hbs</strong></p>
<pre><code class="language-hbs">apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{name}}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: {{app}}
    spec:
      containers:
        - name: postgres
          image: postgres:10.4
          imagePullPolicy: &quot;IfNotPresent&quot;
          ports:
            - containerPort: 5432
          envFrom:
            - configMapRef:
                name: {{name}}-config
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: {{db}}
              subPath: {{db}}
      volumes:
        - name: {{db}}
          persistentVolumeClaim:
            claimName: {{storage}}
</code></pre>
<p>The deployment file is longer, but there aren't that many variables to configure. They're all actually from the previous files and just reused here: <code>name</code>, <code>app</code>, <code>db</code>, and <code>storage</code>.</p>
<p><strong>service.hbs</strong></p>
<pre><code class="language-hbs">apiVersion: v1
kind: Service
metadata:
  name: {{name}}
  labels:
    app: {{app}}
spec:
  type: NodePort
  ports:
   - port: 5432
  selector:
   app: {{app}}
</code></pre>
<p>Finally, the service file just uses the <code>name</code> and <code>app</code> variables, which is easy enough.</p>
<h2>Collecting values</h2>
<p>My initial thought was that I could use the <a href="https://github.com/enquirer/enquirer/#input-prompt">enquirer input prompt</a> to ask the user for each variable: <code>name</code>, <code>app</code>, <code>storage</code>, <code>db</code>, <code>user</code>, <code>password</code>, and <code>size</code>. This is traditionally how CLI applications work and collect information. I feel that a downside to doing this way is that, as a user, I don't have the context to know how these variables will be used and if I'm using them in the correct way. For instance, <code>name</code> and <code>app</code> don't have to be different and I prefer making them the same.</p>
<p>Because of this, I grabbed the <a href="https://github.com/enquirer/enquirer/#snippet-prompt">enquirer snippet prompt</a> instead. The snippet prompt will use the entire template string and allow users to fill in the values while they see where they go! The prompt also uses a syntax similar to Handlebars but, as of this writing, doesn't allow complex features like helpers, block helpers, and partials. However, it does have a couple of convenience features that make working with the prompt a little easier.</p>
<p>Here are the updated templates to use with the snippet prompt:</p>
<p><strong>config-map.hbs</strong></p>
<pre><code class="language-hbs">apiVersion: v1
kind: ConfigMap
metadata:
  name: {{name}}-config
  labels:
    app: {{app:name}}
data:
  POSTGRES_DB: {{db}}
  POSTGRES_USER: {{user}}
  POSTGRES_PASSWORD: {{password}}
</code></pre>
<p><strong>deployment.hbs</strong></p>
<pre><code class="language-hbs">apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{name}}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: {{app:name}}
    spec:
      containers:
        - name: postgres
          image: postgres:10.4
          imagePullPolicy: &quot;IfNotPresent&quot;
          ports:
            - containerPort: 5432
          envFrom:
            - configMapRef:
                name: {{name}}-config
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: {{db}}
              subPath: {{db}}
      volumes:
        - name: {{db}}
          persistentVolumeClaim:
            claimName: {{storage}}
</code></pre>
<p><strong>service.hbs</strong></p>
<pre><code class="language-hbs">apiVersion: v1
kind: Service
metadata:
  name: {{name}}
  labels:
    app: {{app:name}}
spec:
  type: NodePort
  ports:
   - port: 5432
  selector:
   app: {{app:name}}
</code></pre>
<p>In three of the templates we're just change the <code>{{app}}</code> template to <code>{{app:name}}</code>. This tells the snippet prompt to use the value of <code>name</code> for <code>app</code> unless the user types in their own value.</p>
<h2>JavaScript code</h2>
<p>Now to the actual code! I'm going to use <a href="https://github.com/generate/generate">generate</a> as a convenient way to run the code. Our file structure will look like this:</p>
<p><img src="/public/images/2019-01-11-file-structure.png" alt="File structure"></p>
<p>The <code>templates</code> folder contains all of the Handlebars templates that we created above. We'll read these files in to supply to the snippet prompt to gather values and write out new <code>.yaml</code> files that can be used with <code>kubectl</code>.</p>
<p><strong>package.json</strong></p>
<pre><code class="language-json">{
  &quot;name&quot;: &quot;my-database-configs&quot;,
  &quot;version&quot;: &quot;1.0.0&quot;,
  &quot;homepage&quot;: &quot;https://github.com/doowb/my-datbase-configs&quot;,
  &quot;repository&quot;: &quot;doowb/my-datbase-configs&quot;,
  &quot;bugs&quot;: {
    &quot;url&quot;: &quot;https://github.com/doowb/my-datbase-configs/issues&quot;
  },
  &quot;license&quot;: &quot;MIT&quot;,
  &quot;engines&quot;: {
    &quot;node&quot;: &quot;&gt;=10&quot;
  },
  &quot;keywords&quot;: [
    &quot;generate&quot;,
    &quot;enquirer&quot;,
    &quot;kubernetes&quot;,
    &quot;postgres&quot;,
    &quot;postgresql&quot;
  ],
  &quot;devDependencies&quot;: {
    &quot;enquirer&quot;: &quot;^2.3.0&quot;
  }
}
</code></pre>
<p>In our <code>package.json</code>, we only need the one dependency (<code>enquirer</code>) listed in <code>devDependencies</code>. We also need to install <code>generate</code> globally with the following command:</p>
<pre><code class="language-sh">$ npm install --global generate
</code></pre>
<p>This gives us a <code>gen</code> command we can use in the command line.</p>
<p>Next, I'll show the <code>generator.js</code> file and comment inline to describe what this is doing.</p>
<p><strong>generator.js</strong></p>
<pre><code class="language-js">'use strict';

/**
 * We need the `fs` and `path` module to read the templates from the filesystem
 * and write the YAML files back to the filesystem.
 */

const fs = require('fs');
const path = require('path');

/**
 * We only need the `prompt` method from `enquirer` since that will handle running multiple prompts and returning with a list of answers from each prompt.
 */

const { prompt } = require('enquirer');

/**
 * This `load` function is a convenient way to read in a directory of templates.
 * It just iterates over each filename in a directory (`dir`) and
 * adds the file contents to a property on the resulting object.
 *
 * We'll end up with an object like:
 * {
 *   'config-map': '&lt;contents&gt;',
 *   'deployment': '&lt;contents&gt;',
 *   'service': '&lt;contents&gt;',
 *   'storage': '&lt;contents&gt;'
 * }
 */

function load(dir) {
  let filenames = fs.readdirSync(dir);
  return filenames.reduce((acc, filename) =&gt; {
    let name = path.basename(filename, path.extname(filename));
    acc[name] = fs.readFileSync(path.join(dir, filename), 'utf8');
    return acc;
  }, {});
}

/**
 * Used later to write out the YAML files.
 */

function write(name, contents) {
  fs.writeFileSync(name, contents);
}

/**
 * This `snippet` function creates a prompt options object that's used with the
 * `prompt` function that's exported from `enquirer`.
 * This object will specify the `snippet` prompt for the `type`.
 *
 * This also takes care of creating a `template` function that will get the template
 * from the `templates` object created with the `load` function. This tells the
 * snippet prompt what to render and which values to collect.
 *
 * Finally, we're using a `defaults` object that's set on the `initial` property.
 * This allows us to update the `defaults` properties to be used in other prompts
 * so the user only has to provide the value once for the same property.
 */

function snippet(templates, name, options = {}, defaults = {}) {
  let opts = Object.assign({ type: 'snippet', name }, options);
  return {
    type: opts.type,
    name: opts.name,
    message: opts.message,
    template: () =&gt; templates[name],
    initial: defaults
  };
}

/**
 * The main exports is a function that takes an instance of Generate as `app`.
 * This is the standard syntax for using Generate.
 */

module.exports = app =&gt; {

  /**
   * The `default` task is where all of the work is done for prompting the user
   * and writing out the generated yaml files.
   */

  app.task('default', async () =&gt; {

    // First, load all of the templates and store them on a `templates` object.
    let templates = await load(path.join(__dirname, 'templates'));

    // The `defaults` object is what's used to supply the prompts with initial values.
    let defaults = {};

    // when we get the app name the first time, store it for later use
    let appname;

    // Here, we're telling the prompt to update the `defaults` object with
    // the results of the user answering the prompts.
    prompt.on('answer', (name, results) =&gt; {

      // Object.assign is used here so the reference to `defaults` isn't broken.
      Object.assign(defaults, results.values);

      // only after the `config-map` template is filled in should we create
      // a `storage` property based on the `.name` value.
      if (name === 'config-map') {
        appname = defaults.name
        defaults.storage = `${appname}-storage`;
      }
    });

    // Now we're going to create 4 prompt options objects (one for each template)
    // to prompt the user to fill in the templates.
    let answers = await prompt([
      snippet(templates, 'config-map', { message: 'Database configuration'}, defaults),
      snippet(templates, 'storage', { message: 'Data storage configuration'}, defaults),
      snippet(templates, 'deployment', { message: 'Deployment configuration' }, defaults),
      snippet(templates, 'service', { message: 'Service configuration' }, defaults)
    ]);

    // finally, we write out each YAML file based on the user provided `name`
    // and the name of the template file.
    write(`${appname}-config-map.yaml`, answers['config-map'].result);
    write(`${appname}-storage.yaml`, answers['storage'].result);
    write(`${appname}-deployment.yaml`, answers['deployment'].result);
    write(`${appname}-service.yaml`, answers['service'].result);
  });
};
</code></pre>
<p>Now from the command line run:</p>
<pre><code class="language-sh">$ gen
</code></pre>
<p>This will start the default generator from <code>generator.js</code> and start prompting you to fill in the template files. If you name your <code>app</code> &quot;mypostgres&quot;, then the four files you'll end up with are:</p>
<pre><code class="language-sh">mypostgres-config-map.yaml
mypostgres-deployment.yaml
mypostgres-service.yaml
mypostgres-storage.yaml
</code></pre>
<p>You can now run the following <code>kubectl</code> commands to deploy them to your cluster:</p>
<pre><code class="language-sh">kubectl apply -f mypostgres-config-map.yaml
kubectl apply -f mypostgres-storage.yaml
kubectl apply -f mypostgres-deployment.yaml
kubectl apply -f mypostgres-service.yaml
</code></pre>
<h2>Wrapping it up</h2>
<p>This post went from starting with a few hardcoded Kubernetes configuration files to being able to generate any number of configuration files from user supplied input. By combining a few tools (templates, enquirer, and generate), we're able to create powerful command line apps that help make developers more productive while producing less bugs.</p>
<p>If you haven't already, please check out <a href="https://github.com/generate/generate">generate</a> and <a href="https://github.com/enquirer/enquirer">enquirer</a> to learn about more powerful features they over. Also, subscribe to my newsletter and follow me on <a href="https://twitter/doowb">twitter</a> and <a href="https://github.com/doowb">GitHub</a> to be notified of new blog posts.</p>

      <br><br>
      <hr>
      <br><br>
    </div>
    <div class="blog-post">
      <h2 class="blog-post-title"><a href="2019/01/04/new-year-2019.html">New Year 2019</a></h2>
      <p class="blog-post-meta">January 4th, 2019 by <a href="https://github.com/doowb">doowb</a></p>

      <div>
  <img src="https://images.unsplash.com/photo-1537470284582-8da71000386c?ixlib&#x3D;rb-1.2.1&amp;q&#x3D;80&amp;fm&#x3D;jpg&amp;crop&#x3D;entropy&amp;cs&#x3D;tinysrgb&amp;w&#x3D;1080&amp;fit&#x3D;max&amp;ixid&#x3D;eyJhcHBfaWQiOjQ4MjI0fQ">
  <span class="small em muted">
    Photo by <a href="https://unsplash.com/@nordwood?utm_source=blog&utm_medium=referral">NordWood Themes</a> on <a href="https://unsplash.com/?utm_source=blog&utm_medium=referral">Unsplash</a>
  </span>
</div>

      <h2>Happy New Year 2019!!!</h2>
<p>It's a new year, so it must be time to make some resolutions. I've always wanted to write more and publish blog posts about programming and technology. In the past, most of my writing has been developer API docs and code comments. I'd like to expand that writing into other areas, so below I'm making three resolutions that I think will help my writing.</p>
<h3>Resolutions</h3>
<p><strong>Writing blog posts</strong></p>
<p>My first resolution to help with writing is to commit to publishing a new blog post once a week. I wanted to start this off last month with a series of short posts that went step-by-step to create a web app with <a href="https://nodejs.org/en/">Node.js</a> and <a href="http://expressjs.com/">Express</a>. Unfortunately for the blog series, I spent more time working on another project and wasn't able to get back to finishing the posts. I changed the dates on the posts as a reminder to do the series next year.</p>
<p>Take a look at the <a href="https://github.com/doowb/doowb.github.com/tree/build">build branch</a> of this site's <a href="https://github.com/doowb/doowb.github.com">GitHub repository</a> if you want to see drafts of what I'm working on. The blog is created using <a href="https://github.com/assemble/assemble">assemble</a> and will be updated to use assemble's latest features to act as an up-to-date example of creating a blog. Issues, bug fixes, and typo corrects are definitely welcome!</p>
<p><strong>More reading</strong></p>
<p>Another resolution that I'm making is to read more books. I think that reading more will help with understanding how other people writing and how I can improve my own writing.</p>
<p>I read a lot of blog posts, articles, and documentation already, but I want to read more books this year. They can be technical, business, or fiction. To achieve this, I'm going to commit to reading at least one book every two weeks. This way, I'll read at least 26 books this year. I'll also commit to posting what I'm reading and maybe a short review of the book.</p>
<p><strong>Health</strong></p>
<p>My third resolution is to focus on my health more. I believe that eating better and exercising will be beneficial to my physical health, as well as, my mental health. I've been following <a href="https://www.nerdfitness.com/">Nerd Fitness</a> for years and I'll probably sign up for their <a href="https://www.nerdfitness.com/academy-overview-page/">Nerd Fitness Academy</a> sometime in the next few weeks. When I do this, I'll blog about my experiences with the program and what I find to work and what doesn't work for me.</p>
<h3>Next time</h3>
<p>That's all for this post. To summarize, I'm kicking off the year by committing to three resolutions to write more blog posts, read more books, and focus more on my health. Stay tuned for my next post on January 11th, 2019 and will have to do with programming or some technology. I have a few ideas that I'm excited to talk about and expand on, so I believe 2019 will be a fun year!</p>

      <br><br>
      <hr>
      <br><br>
    </div>
    <div class="blog-post">
      <h2 class="blog-post-title"><a href="2017/01/09/octobox.js.html">Octobox.js</a></h2>
      <p class="blog-post-meta">January 9th, 2017 by <a href="https://github.com/doowb">doowb</a></p>

      
      <p><a href="https://octoboxjs.io"><img src="https://raw.githubusercontent.com/doowb/octobox.js/master/docs/demo.png" alt="octobox.js demo"></a></p>
<p>I published a new project last night called <a href="https://github.com/doowb/octobox.js">octobox.js</a> that's a <a href="https://nodejs.org/en/">node.js</a> project using <a href="http://expressjs.com/">express</a>, <a href="http://handlebarsjs.com/">handlebars</a>, and <a href="http://docs.sequelizejs.com/en/v3/">sequelize</a> instead of Ruby on Rails and ActiveDirectory.</p>
<p>The code can be found on GitHub at <a href="https://github.com/doowb/octobox.js">https://github.com/doowb/octobox.js</a> and the application is hosted on Heroku at <a href="https://octoboxjs.io">https://octoboxjs.io</a>.</p>
<p>I'll be documenting the process that I took to port the application and the libraries that I had to use and/or create to provide similar features to the original Ruby on Rails application.</p>

      <br><br>
      <hr>
      <br><br>
    </div>
    <div class="blog-post">
      <h2 class="blog-post-title"><a href="2017/01/09/heading-to-codemash.html">Heading to CodeMash</a></h2>
      <p class="blog-post-meta">January 9th, 2017 by <a href="https://github.com/doowb">doowb</a></p>

      
      <p>Leaving for <a href="http://codemash.org">CodeMash</a> today with <a href="https://github.com/jonschlinkert">Jon Schlinkert</a>. Hope to have updates over the next week with all of the interesting things I'll be learning and all the people I'll get to talk to.</p>
<p>If you're there and want to meetup, feel free to tweet me <a href="https://twitter/doowb">@doowb</a></p>

      <br><br>
      <hr>
      <br><br>
    </div>
    <div class="blog-post">
      <h2 class="blog-post-title"><a href="2014/01/30/angular-js-now-realtime-with-pusher.html">Realtime Angular.js with Pusher</a></h2>
      <p class="blog-post-meta">January 30th, 2014 by <a href="https://github.com/doowb">doowb</a></p>

      
      <p>There has been a lot of hype around using <a href="https://www.firebase.com/">Firebase</a> and <a href="http://angularjs.org/">Angular.js</a> to create realtime applications. These applications are great at keeping the application's state in sync between clients and providing a full realtime document database simliar to <a href="http://www.mongodb.org/">MongoDB</a> and <a href="http://couchdb.apache.org/">CouchDB</a>. What if you already have an Angular.js application, your data is already stored in MongoDB, and you just want to notify connected clients that something on the server has changed? This is where <a href="http://pusher.com/">Pusher</a> and <a href="https://github.com/doowb/angular-pusher">angular-pusher</a> come into play.</p>
<h3>Angular.js</h3>
<p>Angular.js is a client side JavaScript framework built by Google. It provides the framework for building either small components that can be plugged in to your website or entire single page applications. At the core of Angular.js is a module system that allows creating providers, services, factories, and directives. All of these are used within controllers to create, retrieve, update, and delete data while providing nice features for manipulating the HTML DOM with little custom JavaScript code.</p>
<p>In a simple Angular.js application, data is retrieved and sent to and from a backend server through an <code>$http</code> or <code>$resource</code> service provided by the framework. Below is an example of retrieving a list of items from an API and updating the selected item using the <code>$http</code> service.</p>
<pre><code class="language-js">var ItemListController = function ($scope, $http) {
  // initialize a list of items on the scope
  $scope.items = [];

  var retrieveItems = function () {
    // get a list of items from the api located at '/api/items'
    $http.get('/api/items')
        .success(function (items) {
          $scope.items = items;
        });
  };

  $scope.updateItem = function (item) {
    $http.post('/api/items', item);
  };

  // load the items
  retrieveItems();
};
</code></pre>
<pre><code class="language-html">&lt;div ng-controller='ItemListController'&gt;
    &lt;h1&gt;Items&lt;/h1&gt;
    &lt;table&gt;
      &lt;tr&gt;&lt;th&gt;Name&lt;/th&gt;&lt;th&gt;Qty&lt;/th&gt;&lt;th&gt;&lt;/th&gt;&lt;/tr&gt;
      &lt;tr ng-repeat=&quot;item in items&quot;&gt;
        &lt;td&gt;&lt;input type=&quot;text&quot; ng-model=&quot;item.name&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;input type=&quot;text&quot; ng-model=&quot;item.qty&quot;&gt;&lt;/td&gt;
        &lt;td&gt;&lt;button type=&quot;button&quot; ng-click=&quot;updateItem(item)&quot;&gt;Update&lt;/button&gt;&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/table&gt;
&lt;/div&gt;
</code></pre>
<p>If we needed to know when items have been updated on the server by another user, we would have to constantly poll the server to find out if the <code>items</code> array changed.</p>
<pre><code class="language-javascript">var ItemListController = function ($scope, $http, $timeout) {

  $scope.items = [];

  var retrieveItems = function () {
    // get a list of items from the api located at '/api/items'
    $http.get('/api/items')
        .success(function (items) {
          $scope.items = items;

          // check for item changes
          $timeout(retrieveItems, 5000);
        });
  };

  ...
};
</code></pre>
<p>As you can see, we just update the <code>items</code> array every five seconds which isn't something that we want to keep doing. If a user is making a lot of changes, then we don't want to keep overwriting the <code>items</code> array. You could build the logic to only update changed items, but you still have the issue of polling the server every five seconds. It would be much nicer if we could subscribe to an event and wait for a notification of changes in realtime.</p>
<h3>Making Angular.js realtime with Pusher</h3>
<p>Using Pusher will allow us to subscribe to events triggered by other clients. First I'll show you the simple changes needed in our <code>ItemLIstController</code> to use angular-pusher. Then I'll show you an example of using Pusher in a Node.js server when an item is updated.</p>
<p>First, we need tell our Angular.js application to use angular-pusher. You can do this by either downloading the <a href="https://github.com/doowb/angular-pusher/blob/master/angular-pusher.js">development</a> or <a href="https://github.com/doowb/angular-pusher/blob/master/angular-pusher.min.js">production</a> files from <a href="https://github.com/doowb/angular-pusher/blob/master">GitHub</a> or using <code>bower install angular-pusher</code> and loading them into your page with the following script tag:</p>
<pre><code class="language-html">&lt;script type=&quot;text/javascript&quot; src=&quot;bower_components/angular-pusher/angular-pusher.min.js&quot;&gt;&lt;/script&gt;
</code></pre>
<p>This should be loaded after the <code>angular.min.js</code> file and before your <code>application.js</code> script.</p>
<p>Now we can tell our application that we want to use the services provided in <code>angular-pusher.min.js</code>.</p>
<pre><code class="language-javascript">angular.module('myApp', ['doowb.angular-pusher']).

config(['PusherServiceProvider',
    function(PusherServiceProvider) {
        PusherServiceProvider
            .setToken('d420162e600c57b0e60f')
            .setOptions({});
    }
]);
</code></pre>
<p>The angular-pusher module has a <code>PusherServiceProvider</code> that can be configured when creating your application. Here is where you can set your Pusher application key (<code>PusherServiceProvider.setToken('token')</code>), additional Pusher options (<code>PusherServiceProvider.setOptions(options)</code>), and a specific version of Pusher (<code>PusherServiceProvider.setPusherUrl(url)</code>). The Pusher url has a default, but it may be an older version.</p>
<p>Now we can use Pusher in our controller to subscribe to events and be notified when our <code>items</code> array changes:</p>
<pre><code class="language-javascript">var ItemListController = function($scope, $http, Pusher) {
    $scope.items = [];

    Pusher.subscribe('items', 'updated', function (item) {
    // an item was updated. find it in our list and update it.
        for (var i = 0; i &lt; $scope.items.length; i++) {
            if ($scope.items[i].id === item.id) {
                $scope.items[i] = item;
                break;
            }
        }
    });

  var retrieveItems = function () {
    // get a list of items from the api located at '/api/items'
    console.log('getting items');
    $http.get('/api/items')
        .success(function (items) {
          $scope.items = items;
      });
  };

  $scope.updateItem = function (item) {
    console.log('updating item');
    $http.post('/api/items', item);
  };

  // load the items
  retrieveItems();
}
</code></pre>
<p>In the Node.js server, we setup our connection to Pusher with a few lines of code. It only takes one more line of code to trigger the actual update notification:</p>
<pre><code class="language-javascript">// setup Pusher
var Pusher = require('pusher');
var pusher = new Pusher({
  appId: '12345',
  key: 'some key',
  secret: 'my secret... shhh!!!'
});

// in our express server
// setup a post route and trigger the change in Pusher
app.post('/api/items', function (req, res) {

  // get our item from the req and update the item collection
  // in a production application this would have validation and items
  // would be stored in a database.
  var item = req.body;
  items[item.id] = item;

  // tell Pusher to trigger an 'updated' event on the 'items' channel
  // add pass the changed item to the event
  pusher.trigger('items', 'updated', item);

  // respond with the changed item
  res.json(item);
});

</code></pre>
<h3>Get Pushing</h3>
<p>All of this code can be found <a href="https://github.com/doowb/angular-pusher">here on GitHub</a>. The <a href="https://github.com/doowb/angular-pusher/tree/gh-pages"><code>gh-pages</code> branch</a> contains the examples that these code snippets came from. The application itself can be <a href="http://doowb.github.io/angular-pusher">found here</a>, but the server side examples won't work when hosted on <a href="http://pages.github.com/">GitHub Pages</a>.</p>
<p>Hopefully this article and the code samples are enough to get your Angular.js application working with Pusher.</p>

      <br><br>
      <hr>
      <br><br>
    </div>
  </div>

  <div class="span3 offset1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>Learn more about me on <a href="https://github.com/doowb" target="_blank">GitHub</a> and follow me on twitter <a href="https://twitter/doowb" target="_blank">@doowb</a></p>
    </div>
  </div><!-- /.blog-sidebar -->
</div>

    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-67453407-3', 'auto');
      ga('send', 'pageview');
    
    </script>
    <script src="public/js/jquery.js"></script>
    <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"b5fa2d5868e7e46ed6cddb627","lid":"5fa9023afd","uniqueMethods":true}) })</script>
    <!-- Start of Async Drift Code -->
    <script>
    "use strict";
    
    !function() {
      var t = window.driftt = window.drift = window.driftt || [];
      if (!t.init) {
        if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
        t.factory = function(e) {
          return function() {
            var n = Array.prototype.slice.call(arguments);
            return n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }), t.load = function(t) {
          var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
          var i = document.getElementsByTagName("script")[0];
          i.parentNode.insertBefore(o, i);
        };
      }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('5czt542k5bkz');
    </script>
    <!-- End of Async Drift Code -->
  </body>
</html>

