---
title: doowb's reading list
---
<div class="page-header">
  <h1>{{ title }}</h1>
</div>

{{#markdown}}

From my "[New Year 2019](./2019/01/04/new-year-2019.html)" post, I made three resolutions for 2019. One of those resolutions was to read more books. To keep myself accountable, this page lists the books I'm reading or have finished since making the resolution. If you have any recommendations on books that I might be interested in, please [open an issue here](https://github.com/doowb/doowb.github.com/issues/new?title=book%20recommendation) with your suggestion.

***

### Books

| Status | Completion date | Title | Additional Information |
| :-- | :-- | :-- | --- |
| Reading | | [Children of Time](https://amzn.to/31055ff) | |
| Reading | | [Modern Monopolies: What It Takes to Dominate the 21st Century Economy](https://amzn.to/2AX5qot) | |
| Reading | | [EntreLeadership: 20 Years of Practical Business Wisdom from the Trenches](https://amzn.to/2VreUBV) | |
| Reading | | [AI Superpowers: China, Silicon Valley, and the New World Order](https://amzn.to/35lBHTV) | AI is a hobby and passion of mine.<br>See [Cincy AI](http://cincy.ai) for more information. |
| Complete | 2019-09-21 | [The Solar War (The Long Winter Trilogy Book 2)](https://amzn.to/323ozAY) | |
| Complete | 2019-09-14 | [Winter World (The Long Winter Trilogy Book 1)](https://amzn.to/2IxCHL0) | |
| Complete | 2019-09-01 | [Solving the Procrastination Puzzle: A Concise Guide to Strategies for Change](https://amzn.to/30S8tsA) | |
| Complete | 2019-08-11 | [The Softwire: Awakening on Orbis 4](https://amzn.to/33dqUJH) | |
| Complete | 2019-04-22 | [The Softwire: Wormhole Pirates on Orbis 3](https://amzn.to/2nyqTRy) | |
| Complete | 2019-01-28 | [Turtles All the Way Down](https://amzn.to/35kBTmE) | |
| Complete | 2019-01-08 | [New Rules for the New Economy: 10 Radical Strategies for a Connected World](https://amzn.to/2IBEm26) | |

***

**Disclaimer**

I am reading or have read all of the books mentioned on this page and I am linking to them using Amazon Associate Affiliate links. _As an Amazon Associate I earn from qualifying purchases._ These earnings go towards creating content for this site or buying new books to read :)
{{/markdown}}

