---
title: doowb's reading list
---
<div class="page-header">
  <h1>{{ title }}</h1>
</div>

{{#markdown}}

From my "[New Year 2019](./2019/01/04/new-year-2019.html)" post, I made three resolutions for 2019. One of those resolutions was to read more books. To keep myself accountable, this page lists the books I'm reading or have finished since making the resolution. If you have any recommendations on books that I might be interested in, please [open an issue here](https://github.com/doowb/doowb.github.com/issues/new?title=book%20recommendation) with your suggestion.

***

### Books

| Status | Completion date | Title | Additional Information |
| :-- | :-- | :-- | --- |
| Reading | | [The Softwire: Wormhole Pirates on Orbis 3](https://amzn.to/2Ev4F8s) | |
| Reading | | [EntreLeadership: 20 Years of Practical Business Wisdom from the Trenches](https://amzn.to/2VksHsK) | |
| Reading | | [AI Superpowers: China, Silicon Valley, and the New World Order](https://amzn.to/2Sd5uut) | |
| Complete | 2019-01-28 | [Turtles All the Way Down](https://amzn.to/2Gfy7B1) | |
| Complete | 2019-01-08 | [New Rules for the New Economy: 10 Radical Strategies for a Connected World](https://amzn.to/2RM7qKo) | |

***

{{/markdown}}

