---
title: dropdown
lead: Example User Settings Menu
---
<div id="wrap">
  <div id="dropdown" class="ddmenu">
    User Settings
    <ul>
      <li><a href="#">My Profile</a></li>
      <li><a href="#">Friend Requests</a></li>
      <li><a href="#">Account Settings</a></li>
      <li><a href="#">Support</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </div>
</div>
