    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            {{#pages~}}{{#each @root.menu as |title stem|}}{{#with (find ../items "stem" stem)}}
            <li{{#is this.stem @root.stem}} class="active"{{/is}}><a href="{{relative @root.dest (lowercase this.dest)}}">{{title}}</a></li>
            {{/with}}{{/each}}{{~/pages}}
          </ul>
        </div>
      </div>
    </div>
