    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            {{#pages~}}{{#each items as |item|}}
            <li{{#is item.stem ../../stem}} class="active"{{/is}}><a href="{{relative @root.dest (lowercase item.dest)}}">{{get item.stem @root.menu}}</a></li>
            {{/each}}{{~/pages}}
          </ul>
        </div>
      </div>
    </div>
