    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav">
            {{#pages}}<li><a href="{{lowercase filename}}">{{basename}}</a></li>
            {{/pages}}
          </ul>
          <ul class="nav"><li><a href="{{ assemble.repo }}">Visit Assemble</a></li></ul>
        </div>
      </div>
    </div>
